<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    @*<center>
            <h2>Create Contact</h2>
            <p>When Contact Is Cretaed you will get ContactID in the TextBox which you can use at your end</p>
            <div>
                Name: <input type="text" id="txtName" /><br />
                First Name: <input type="text" id="txtFirstName" /><br />
                Last Name: <input type="text" id="txtLastName" /><br />
                Email: <input type="text" id="txtEmailAddress" /><br />
                <br />
                <br />
                <hr />
                ContactID: <input type="text" id="txtContactID" /><br />
                <button onclick="TestApi();" name="Click">Create Contact</button>
            </div>
        </center>*@

    <center>
        <h2>Create Invoice (With Test Data)</h2>
        <div>
            <span>Xero Invoice ID</span>
            <textarea id="txtDetails" rows="4" cols="30"></textarea>
            <button onclick="TestApi();" name="Click">Create Invoice</button>
        </div>
    </center>
</body>
</html>
<script>
    function TestApi() {
        debugger;
        var dataval =
        {
            "Contact": {
                "ContactID": "47f61ab1-5245-40a2-a3a5-bc224c850c8d"
                //"ContactID": "9879dd5c-4c5a-4e0a-a998-20b25d916fc9"
            },
            "Type": 1,
            "Status": 3,
            "LineAmountTypes": 0,
            "Date": "2020-11-19T00:00:00",
            "DueDate": "2020-12-20T00:00:00",
            "Reference": "",
            "LineItems": [
                {
                    "Description": "Test Invoice",
                    "Quantity": 1.0000,
                    "UnitAmount": 13.6500,
                    "AccountCode": "310"
                }
            ]
        }
        console.log(dataval);
        $.ajax({
            url: window.location.origin + '/api/XeroApi/CreateInvoice',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(dataval),
            success: function (data) {
                debugger;
                if (data.iSError == true) {
                    alert('Error occurred while processing your request.!');
                }
                else {
                    $('#txtDetails').val(data.ID);
                    alert('Invoice Successfully Created in Xero')
                }
            },
        });
    }
</script>
