@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>@ViewBag.Modal Created Succuss</h2>
        <h3>@ViewBag.Modal ID: @ViewBag.ID</h3>
    </div>
</body>
</html>
