<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <add key="BaseUrl" value="https://api.xero.com"/>
    <add key="ConsumerKey" value="EQRIZXBYG4N5DNSN5R8BPFEDV0KED6"/>
    <add key="ConsumerSecret" value="HHPXYSFJPZEERBKNUYWOKGD93PUARJ"/>
    <add key="CallbackUrl" value="localhost"/>
    <add key="SigningCertificate" value="..\..\resources\cert\public_privatekey.pfx"/>
    <add key="SigningCertificatePassword" value=""/>
  </appSettings>
</configuration>
